<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.poi.mybatisplus.demo.mapper.UserMapper" >

  <select id="selectUserPage" resultType="com.poi.mybatisplus.demo.entity.User">
    SELECT
    *
    FROM
    user
    ${ew.customSqlsegment}
  </select>

  <select id="mySelectList" resultType="com.poi.mybatisplus.demo.entity.User">
    select u.*,r.role_name
    from user u inner join role r
    on u.role_id = r.role_id
    ${ew.customSqlSegment}
</select>
</mapper>